*{
	
	margin:0;
	padding:0;
	border:0;
	box-sizing: border-box;

}

body{

	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #483D8B;
}

img{
	max-width: 100%;

}
#content{

	padding: 1rem;
}

.post{

	margin-bottom: 1.5rem;
	border-bottom: 1px solid #ccc;
	padding: .7rem;

}

.post-title{
	font-size: 1.6rem;
	font-weight: 400;
	margin-bottom: .7rem;
	
}
.post-title a {
	text-decoration: none;
	color: #483D8B;

}
.post-title  a:hover, entry-dados a:hover{
	text-decoration: underline;
	
	

}


.entry-dados{
	font-size: .8rem;
	padding: .7rem 0;


}

.entry-dados a{
	font-weight: 400;
	text-decoration: none;
	color: #444;

}

.post-thumbnail{
	display: block;
	margin-bottom: .7rem;
}

.entry-content p{
	 line-height: 1.5rem;
	 
}
.more-link{
	font-weight: 400;
	color: indigo;
	padding-left: .5rem;
	text-decoration: none;

}

.more-link :hover{
	text-decoration: underline;
	
}
@media screen and (min-width: 768px){
	#content{
		width: 90%;
	}
	.post{
		display: flex;
		flex-wrap: wrap;
	}
	.entry-header, .entry-dados{
		flex-basis: 100%;
	}

	.post-image{
		flex-basis: 40%;
		padding-right: 1rem;
	}
	.entry-content{
		flex-basis: 60%
		

		
	}
	.entry-content p{
		padding-top: 10px;

		
	}

}

}