*{

	margin:0;
	padding: 0;
	box-sizing: 0;

}

.container{

	color: #fff;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 100px);
	grid-gap: 5px;


}

.item{

	background-color: firebrick;
	color:green;
	padding: 1rem;
}

.item:nth-child(even){
	background-color: tomato;
}